<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.asovel.myebike">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".backendless.common.DataApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmCJ4HNTFRQZZhd_7W4eIPLMX-v8QhzEQ"/>

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.ActionBar">

        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".resultadosebikes.EBikeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Resultados de Búsqueda"
            android:parentActivityName=".main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoTransparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"/>
        </activity>

        <activity
            android:name=".resultadosebikes.EBikeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Detalles del Modelo"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoTransparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".resultadosebikes.EBikeListActivity"/>
        </activity>

        <activity
            android:name=".resultadosebikes.MapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mapa"
            android:parentActivityName=".resultadosebikes.EBikeListActivity"
            android:theme="@style/AppTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".resultadosebikes.EBikeListActivity"/>
        </activity>

        <service android:name="com.backendless.AndroidService"/>

    </application>

</manifest>
